*{
    top: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    position: relative;
}

.side-display{
    position: absolute;
    background-color: #ccc;
    width: 35%;
    height: 100vh;
}
 
#signBtn{
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 10px;
    gap: 10px;
}

.icon{  
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border: none;
    background-color: #acecef;
    cursor: pointer;
}


#mid{
    text-align:center ;
    margin: 10px;
    font-size: larger;
}

.divForm{
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    border-radius: 38px;
    overflow-x: visible;
}

form{
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
}

.side-display{
    background-color: #7CD2D7;
}

.side-display .txt{
    width: 309px;
    height: 101px;
    margin: 30px;
}

.side-display .txt p{
    color: #fff;
    font-weight: 400;
    font-family: sans-serif;
}

.side-display p{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-align: left;

}

.imag{
    position: absolute;
    left: -4.39%;
    right: -50%;
    top: 14%;
    bottom: 2%;
    background: url(Abstraction.png) no-repeat;
    transform: rotate(-0.15deg);
    z-index: 2;
}


.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input.is-valid{
    border: 1px solid green;
    outline: 1px solid green;
}

input.is-invalid{
    border: 1px solid red;
    outline: 1px solid red;
}
.errorMsg{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.btn{
    width: 90%;
    font-size: 18px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: #7CD2D7;
}

.btn:hover{
    background-color: green;
    cursor: pointer;
}


